/*magenta, lime, fuschia, green, maroon*/


.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
  text-align: center;
}


#nav {
text-align:center;
}
#nav li {
display:inline;
}
#nav a {
text-decoration:none; 
padding:0 30px; /* variable width */
}
	
	


body {
		background-color: DarkGray;
	   	}

		
/*		
h1{
		text-align: center;
		color: black;
		margin-bottom: 0px;
		 
}


h2{
		text-align: center;
		color: black;
		
		  margin-top: 0px;
}


h3{
	
	text-align: center;
	color: black;
	margin-bottom: 0px;
		  margin-top: 0px; 
}

h4{

	text-align: center;
	color: black;
	margin-bottom: 0px;
		  margin-top: 0px;
}
*/

footer{
	text-align: center;
		color: black;
		font-size: 200%;
		font-weight: bold 
		
}
}